  <!DOCTYPE html>
  <html >
  <head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

   <script type="text/javascript" src="js/angular.js"></script>
   <script type="text/javascript" src="js/product.js"></script>
   <style type="text/css">
     .ng-invalid.ng-dirty{
        border-color: red;
     }
     .ng-valid.ng-invalid{
      border-color: green;
     }
   </style>
 </head>
     <!-- <body class="container" ng-controller="StoreController as store">
      <div class="product row" ng-hide="!store.product.soldOut">
        <h3>
          {{store.product.name}}
          <em class="pull-right">${{store.product.price}}</em>
        </h3>
        <button ng-show="!store.product.canPurchase">Add to Cart</button>
      </div>
    </body> -->
    <body  ng-app="gemStore">
    <div class="container">
    <div  ng-controller="StoreController as store">
    <label>Search: </label><input type="text" ng-model="search"><hr>
      <div class="product row" ng-repeat="product in store.products | filter:search">
        <h3 >
         <product-title></product-title>
        </h3>
       <product-gallery></product-gallery>
      <product-tabs></product-tabs>
       
      </div>
      </div>
      </div>
    </body>
    </html>